

        
.page-header {
  margin-top: 0;
  height: 300px;      
  color: #fff;
  text-align: center;
  background-color: #159957;
  background-image: url("http://i.imgur.com/s6rWI5U.jpg");
  background-repeat: no-repeat;
    background-position: center top;}
 

