


        
.page-header {
  margin-top: 0;
  height: 280px;      
  color: #fff;
  text-align: center;
  background-color: #159957;
  background-image: url("http://i.imgur.com/s6rWI5U.jpg");
  background-repeat: no-repeat;
    background-position: center top;}
 
 .btn {
  display: inline-block;
  margin-bottom: 1rem;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0.08);
  border-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s; }
  .btn:hover {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.3); }
  .btn + .btn {
    margin-left: 1rem; }
 
.intro-header {
    height: 500px;
    width: 2000; 
    padding-top: 250px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #ffffff;
    background: url("http://i.imgur.com/wHUR6gn.png") no-repeat center;
    background-color: #159957;
    background-size: auto;
}

.gradient {
    height: auto;
    width: 2000; 
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #ffffff;
    background: url("#") no-repeat center;
    background-color: #009900;
    background-size: auto;
    background-image: linear-gradient(180deg, #159957, #CCCCCC);
    
}

.intro-header-two {
    height: auto;
    width: 2000; 
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #ffffff;
    background: url("#") no-repeat center;
    background-color: #ffffff;
    background-size: auto;
    
    
}
