

        
.page-header {
  margin-bottom: 0;
  height: 300px;      
  color: #fff;
  text-align: center;
  background-color: #159957;
  background-image: url("http://i.imgur.com/TMJJFdd.jpg");
  background-repeat: no-repeat;
    background-position: center top;}
  @media screen and (min-width: 64em) {
    .page-header {
      padding: 5rem 6rem; } }
  @media screen and (min-width: 42em) and (max-width: 64em) {
    .page-header {
      padding: 3rem 4rem; } }
  @media screen and (max-width: 42em) {
    .page-header {
      padding: 2rem 1rem; } } 

